* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    // color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
    display: inline-block;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

p {
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    margin: 0;
    font-weight: inherit;
    line-height: inherit;
}

// .swiper-button-prev, .swiper-button-next {
//     position: static !important;
// }